.ImageButton {
    height: 200px;
}
  
  @media (max-width: 600px) {
    .ImageButton {
      width: 100% !important;
      height: 100px;
    }
}
  
.ImageButton:hover,
.ImageButton.Mui-focusVisible {
    z-index: 1;
}
  
.ImageButton .MuiImageBackdrop-root {
    opacity: 0.15;
}
  
.ImageButton .MuiImageMarked-root {
    opacity: 0;
}
  
.ImageButton .MuiTypography-root {
    border: 4px solid currentColor;
}
  
.ImageSrc {
    background-size: cover;
    background-position: center 40%;
}
  
.Image {
    align-items: center;
    justify-content: center;
    color: white;
}
  
.ImageBackdrop {
    background-color: black;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}
  
.ImageMarked {
    height: 3px;
    width: 18px;
    background-color: white;
    bottom: -2px;
    left: calc(50% - 9px);
    transition: opacity 0.3s ease-in-out;
}